$alice-blue: #eff7ff;
$steel-blue: #2f7bb8;
$light-steel-blue: #96b4d5;
$light-grey: #cacbcd;
$dark-slate-grey: #444444;
$white-smoke: #d3d3d3;
$ghost-white: #f8f9fc;
$beige: #e9f4da;
$yellow-green: #8ec73d;
$super-light-grey: #f4f5f7;
$dark-blue: #3572b0;