$max-page-width: 120rem;
$font-extra-large: 5rem;
$font-larger: 3.8rem;
$font-large: 3rem;
$font-medium: 2rem;
$font-basic: 1.6rem;
$font-small: 1.2rem;

$title-large: $font-extra-large;
$title-medium: $font-large;
$title-small: $font-medium;
$subtitle-large: $font-large;
$subtitle-medium: $font-medium;
$subtitle-small: $font-small;
$content: $font-basic;

$banner-height: 50rem;