@import "../../styles/color.scss";

$sidebar-width: 25rem;
$sidebar-icon-width: 3rem;
$sidebar-item-top-bottom-margin: 0.5rem;

@mixin sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar {
  font-size: 1.4rem;
  max-width: $sidebar-width;
  display: flex;
  flex-direction: column;
  background-color: $super-light-grey;
  height: 100vh;
  overflow-y: scroll;
  padding: 1rem;
  &-header {
    display: flex;
    align-items: center;
    &-logo {
      max-width: $sidebar-icon-width;
    }
    &-title {
      color: $dark-blue;
      margin-left: 0.5rem;
    }
  }
  &-links {
    &-link {
      display: flex;
      text-decoration: none;
      width: 100%;
      align-items: center;
      :hover {
        text-decoration: underline;
      }
    }
    &-dropdown {
      justify-content: space-between;
      padding: 0;
      font-size: 1.4rem;
      border: none;
      &-menu {
        &.show {
          display: contents;
        }
      }
      &-item {
        margin-top: 0.5rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        &-li {
          &:first-of-type {
            margin-top: 1rem;
            border-top: 0.1rem black solid;
          }
        }
      }
    }
    &-item {
      width: 100%;
      padding: 0.5rem;
      margin-top: $sidebar-item-top-bottom-margin;
      margin-bottom: $sidebar-item-top-bottom-margin;
      border-radius: 0.5rem;
      &:hover {
        .sidebar-links-title {
          text-decoration: underline;
        }
      }
      &-dropdown {
        background-color: $ghost-white;
        overflow-y: auto;
        max-height: 20rem;
        &:hover {
          background-color: $light-grey;
          .sidebar-links-title {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
    &-title {
      margin-left: 0.5rem;
      color: $dark-blue;
    }
    &-subtitle {
      margin-left: 0.5rem;
    }
  }
  &-icon {
    max-width: $sidebar-icon-width;
  }
  &-main {
    @include sidebar-section;
  }
  &-subtitle {
    margin-top: $sidebar-item-top-bottom-margin;
    margin-bottom: $sidebar-item-top-bottom-margin;
    font-weight: 500;
  }
  &-side {
    @include sidebar-section;
  }
  &-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: $light-grey;
    width: $sidebar-width;
    justify-content: space-between;
    &-items {
    }
    &-expand {
      &-btn {
      }
    }
  }
}
