@import "../../styles/color.scss";

$sidebar-width: 25rem;
$sidebar-collapsed-width: 6rem;
$sidebar-icon-width: 3rem;
$sidebar-item-margin: 0.5rem;


@mixin sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar {
  font-size: 1.4rem;
  max-width: $sidebar-width;
  display: flex;
  flex-direction: column;
  background-color: $super-light-grey;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem;
  position: relative;
  transition: all 300ms ease-in-out;
  &-collapse {
    max-width: $sidebar-collapsed-width;
    overflow-y: hidden;
  }

  &-header {
    display: flex;
    align-items: center;
    &-logo {
      max-width: $sidebar-icon-width;
      margin-left: $sidebar-item-margin;
    }
    &-title {
      color: $dark-blue;
      margin-left: 0.5rem;
    }
  }
  &-links {
    &-link {
      display: flex;
      text-decoration: none;
      width: 100%;
      align-items: center;
      :hover {
        text-decoration: underline;
      }
    }
    &-dropdown {
      justify-content: space-between;
      padding: 0;
      font-size: 1.4rem;
      border: none;
      overflow-x: hidden;
      &-menu {
        &.show {
          display: contents;
        }
      }
      &-item {
        margin-top: 0.5rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        &-li {
          &:first-of-type {
            margin-top: 1rem;
            border-top: 0.1rem black solid;
          }
        }
      }
    }
    &-item {
      width: 100%;
      padding: 0.5rem;
      margin-top: $sidebar-item-margin;
      margin-bottom: $sidebar-item-margin;
      border-radius: 0.5rem;
      &:hover {
        .sidebar-links-title {
          text-decoration: underline;
        }
      }
      &-dropdown {
        background-color: $ghost-white;
        overflow-y: auto;
        max-height: 20rem;
        &:hover {
          background-color: $light-grey;
          .sidebar-links-title {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
    &-title {
      margin-left: 0.5rem;
      color: $dark-blue;
      white-space: nowrap;
      max-width: 90%;
    }
    &-subtitle {
      margin-left: 0.5rem;
    }
  }
  &-icon {
    max-width: $sidebar-icon-width;
  }
  &-main {
    @include sidebar-section;
  }
  &-subtitle {
    margin-top: $sidebar-item-margin;
    margin-bottom: $sidebar-item-margin;
    margin-left: $sidebar-item-margin;
    font-weight: 500;
  }
  &-side {
    @include sidebar-section;
  }
  &-footer {
    position: sticky;
    bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
    display: flex;
    background-color: $light-grey;
    justify-content: space-between;
    &-items {
      margin-left: $sidebar-item-margin * 2;
      &-collapse {
        margin-left: -4rem;
      }
    }
    &-expand {
      &-btn {
        height: 5rem;
        width: $sidebar-collapsed-width;
        transition: all 300ms ease-in-out;
        &-collapse {
          // margin-left: 0;
          transition: all 300ms ease-in-out;
        }
      }
    }
  }
}
